.centered-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .centered-container img {
    width: 60px;
    height: 120px;
  }

  .second-text {
    letter-spacing: 5px;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    }
  
  .centered-container p {
    letter-spacing: 3px;
    margin-top: 15px;
    font-size: 1.2em;
    color: white;
    }

    .centered-container p:last-child {
        font-size: 1.2em;
        color: white;
        padding-bottom: 50px;
    }
  
  .centered-container button {
    padding: 5px 20px;
    font-size: 1.2em;
    background-color: rgb(48, 47, 47);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  .centered-container button:hover {
    background-color: #0056b3;
  }