.results-container {
  margin-top: 100px;
    text-align: center;
    color: white;
}

.results-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.results-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.values-container p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.next-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 20px;
}

.next-text {
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: opacity 0.3s;
}


.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
    transform-style: preserve-3d; /* Allow 3D transformations */
    position: absolute;
  }
  
  svg {
    width: 400px; 
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-style: preserve-3d;  /* This ensures children obey the 3D rotation */
  }
  

  text {
    font-family: Arial, sans-serif;
    font-weight: bold;
    transform: rotateY(0deg);  /* By default, text is not rotated */
  }

  .tilted {
    transform: rotate3d(1, 0, 0, 60deg);
    transform-origin: center;
    transition: transform 2s ease-in-out;
}

.rotation-container {
  position: relative; /* So that it can control the position of absolute child elements */
  width: 400px; /* Matches SVG width */
  height: 400px; /* Matches SVG height */
  transform-style: preserve-3d; /* Allow 3D transformations */
  margin: 0;  /* Ensure there's no margin */
  padding: 0;  /* Ensure there's no padding */
  transition: transform 1s ease-in-out;  /* Smoothly animate the rotation */
}

.moving-container {
  position: relative;
  display: inline-block;
}

.moving-container.animate-move {
  animation: moveToLeft 2s forwards;
}

  .fading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 300px;
    margin-left: -100px;
    margin-top: -270px;
    opacity: 0;
    animation: fadeIn 2s forwards 2s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-side {
    flex: 1;
    padding: 10px;
    position: absolute;
    width: 40%;
    right: 5%;
  }
  
  .progress-bar {
    width: 50%;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
  }
  
  .progress-filled {
    height: 100%;
    height: 20px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: width 0.3s ease-in-out;  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%); /* Center the arrows vertically */
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3; /* Make sure arrows are above the image and hexagon */
  position: absolute; /* Set the position to absolute */
}


.arrow.left {
  left: -40px; /* This value will place the arrow just outside the hexagon container. Adjust if needed */
}

.arrow.right {
  right: -40px; /* Similarly for the right arrow */
}

  .arrow.left::before {
    content: '<';
    font-size: 2rem;
  }
  
  .arrow.right::before {
    content: '>';
    font-size: 2rem;
  }

  @keyframes moveToLeft {
    to {
      transform: translateX(-70%);
    }
  }