.About {
  overflow-x: hidden;
  } 
  
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10%;
  }
  
  .squares-container {
    position: relative;
    width: 38.5%;
    height: 59vh;
  }
  
  .square {
    position: absolute;
    width: 18vw;
    height: 18vw; 
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
  }
  
  .square1 {
    top: 0;
    left: 0;
  }
  
  .square2 {
    bottom: 0;
    right: 0;
  }

  .inverted .square1 {
    top: 0;
    right: 0;
    left: unset;
  }
  
  .inverted .square2 {
    bottom: 0;
    left: 0;
    right: unset;
  }
  
  .about-big-text {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .about-big-text .line1 {
    font-size: 5rem;
  }
  
  .about-big-text .line2 {
    font-size: 3rem;
  }
  
  .about-big-text .line3 {
    font-size: 3rem;
  }

  .about-big-text .line4 {
    font-size: 5rem;
    padding-left: 180px;
    padding-bottom: 20px;
  }
  
  .about-big-text .line5 {
    font-size: 3rem;
  } 
  
  .about-big-text .line6 {
    font-size: 4rem;
    padding-right: 200px;
    padding-top: 20px;
  }
  
  .long-text {
    font-size: 17px;
    color: white;
    width: 55%;
    line-height: 25px;
    word-spacing: 1px;
  }
  
  .inverted .squares-container {
    order: 2;
  }
  
  .text-center {
    flex-direction: column;
    justify-content: center;
  }
  
  .centered-text {
    text-align: center;
    line-height: 30px;
    color: white;
    border: 1px solid white;
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    height: 85vh;
    padding: 70px;
    display: inline-block;
    height: auto;
  }

  .title{
    font-size: 60px;
    padding-bottom: 30px;
  }

  .subtitle{
    font-size: 40px;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .About {
      height: auto;
    }
    .section {
      flex-direction: column;
      padding: 5%;
    }
  
    .squares-container {
      width: 100%;
      height: 40vh;
      margin-bottom: 20px;
    }
  
    .square {
      width: 30vw;
      height: 30vw;
    }

    .square1 {
      top: 10%;
      left: 23%;
    }
    
    .square2 {
      bottom: 10%;
      right: 23%;
    }

    .inverted {
      padding-top: 200px;
    }
  
    .inverted .square1 {
      top: 10%;
      right: 23%;
      left: unset;
    }
    
    .inverted .square2 {
      bottom: 10%;
      left: 23%;
      right: unset;
    }

    .inverted .squares-container {
      order: -1;
    }
    
    .inverted .long-text {
      order: 1;
    }
  
    .about-big-text .line1,
    .about-big-text .line4 {
      font-size: 3rem;
      padding: 0;
    }
  
    .about-big-text .line2,
    .about-big-text .line3,
    .about-big-text .line5 {
      font-size: 2rem;
    }
  
    .about-big-text .line6 {
      font-size: 2.5rem;
      padding: 0;
    }
  
    .long-text {
      width: 100%;
      text-align: center;
      opacity: 0.8;
      padding-left: 45px;
      padding-right: 45px;
      font-size: 16px;
      line-height: 22px;
    }

    .text-center {
      padding-top: 150px;
    }

    .centered-text {
      width: 90%;
      height: auto;
      padding: 30px;
      padding-top: 80px;
      padding-bottom: 80px;
      line-height: 25px;
    }
  
    .title {
      font-size: 40px;
      padding-bottom: 20px;
    }
  
    .subtitle {
      font-size: 20px;
      padding-bottom: 10px;
    }

    .rest-text {
      opacity: 0.8;
    }
  }