.About1 {
  overflow-x: hidden;
  height: 100vh;
  background-image: url('/public/bg_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  }
.About2 {
  overflow-x: hidden;
  height: 100vh;
  background-image: url('/public/bg_3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.About3 {
  overflow-x: hidden;
  height: 100vh;
  background-image: url('/public/bg_4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10%;
  }
  
  .squares-container {
    position: relative;
    width: 38.5%;
    height: 59vh;
  }
  
  .square {
    position: absolute;
    width: 18vw;
    height: 18vw; 
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
  }
  
  .square1 {
    top: 5%;
    left: 0;
  }
  
  .square2 {
    bottom: 5%;
    right: 0;
  }

  .inverted .square1 {
    top: 5%;
    right: 0;
    left: unset;
  }
  
  .inverted .square2 {
    bottom: 5%;
    left: 0;
    right: unset;
  }
  
  .about-big-text {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .about-big-text .line1 {
    font-size: 5rem;
  }
  
  .about-big-text .line2 {
    font-size: 3rem;
  }
  
  .about-big-text .line3 {
    font-size: 3rem;
  }

  .about-big-text .line4 {
    font-size: 5rem;
    padding-left: 180px;
    padding-bottom: 20px;
  }
  
  .about-big-text .line5 {
    font-size: 3rem;
  } 
  
  .about-big-text .line6 {
    font-size: 4rem;
    padding-right: 200px;
    padding-top: 20px;
  }
   
  .long-text1 {
    font-size: 17px;
    color: white;
    width: 55%;
    line-height: 25px;
    word-spacing: 1px;
  }
  .long-text2 {
    font-size: 17px;
    color: white;
    width: 55%;
    line-height: 25px;
    word-spacing: 1px;
  }
  .m-long-text1 {
    font-size: 17px;
    color: white;
    width: 55%;
    line-height: 25px;
    word-spacing: 1px;
    display: none;
  }
  .m-long-text2 {
    font-size: 17px;
    color: white;
    width: 50%;
    line-height: 25px;
    word-spacing: 1px;
    display: none;
  }
  
  .inverted .squares-container {
    order: 2;
  }
  
  .text-center {
    flex-direction: column;
    justify-content: center;
  }
  
  .centered-text {
    text-align: center;
    line-height: 30px;
    color: white;
    border: 1px solid white;
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    height: 85vh;
    padding: 70px;
    display: inline-block;
    height: auto;
  }

  .title{
    font-size: 60px;
    padding-bottom: 30px;
  }

  .subtitle{
    font-size: 40px;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 1023px) {
    .About1 {
      height: 100dvh;  
      }
    .About2 {
      height: 100dvh;
    }
    .About3 {
      height: 100dvh;
    }
    .section {
      height: 100dvh;
    }
    .About {
      height: auto;
    }
    .section {
      flex-direction: column;
      padding: 5%;
    }
  
    .squares-container {
      width: 100%;
      height: 35vh;
      margin-bottom: 20px;
    }
  
    .square {
      width: 28vw;
      height: 28vw;
    }

    .square1 {
      top: 15%;
      left: 25%;
    }
    
    .square2 {
      bottom: 15%;
      right: 25%;
    }

    .inverted {
      padding-top: 120px;
    }
  
    .inverted .square1 {
      top: 37%;
      left: 25%;
      right: unset;
    }
    
    .inverted .square2 {
      bottom: 37%;
      right: 25%;
      left: unset;
    }

    .inverted .squares-container {
      bottom: 50px;
      order: -1;
    }
    
    .inverted .long-text1 {
      order: 1;
    }
    .inverted .long-text2 {
      order: 1;
    }
  
    .about-big-text .line1 {
      font-size: 2.7rem;
      padding: 0;
    }

    .about-big-text .line4 {
      font-size: 2.4rem;
      padding: 0;
    }
  
    .about-big-text .line2,
    .about-big-text .line3,
    .about-big-text .line5 {
      font-size: 1.7rem;
    }
  
    .about-big-text .line6 {
      font-size: 2.4rem;
      padding: 0;
    }
  
    .long-text1 {
      display: none;
    }
    .m-long-text1 {
      display: flex;
      width: 100%;
      text-align: center;
      opacity: 0.8;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 16px;
      line-height: 22px;
    }
    .long-text2 {
      display: none;
    }
    .m-long-text2 {
      display: flex;
      width: 100%;
      text-align: center;
      opacity: 0.8;
      padding-left: 32px;
      padding-right: 32px;
      font-size: 16px;
      line-height: 22px;
    }

    .text-center {
      padding-top: 60px;
      margin-bottom: 60px;
    }

    .centered-text {
      width: 95%;
      height: auto;
      padding: 30px;
      margin-top: 90px;
      margin-bottom: 10px;
      padding-top: 60px;
      padding-bottom: 50px;
      line-height: 25px;
    }
  
    .title {
      font-size: 37px;
      padding-bottom: 20px;
    }
  
    .subtitle {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .rest-text {
      opacity: 0.8;
    }
  }