.About {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 5%;
  }
  
  .about-squares-container {
    position: relative;
    width: 40%;
    height: 60vh;
  }
  
  .about-square {
    position: absolute;
    width: 20vw;
    height: 20vw; 
    border: 2px solid white;
    background-color: transparent;
  }
  
  .square1 {
    top: 0;
    left: 0;
  }
  
  .square2 {
    bottom: 0;
    right: 0;
  }

  .inverted .square1 {
    top: 0;
    right: 0;
    left: unset;
  }
  
  .inverted .square2 {
    bottom: 0;
    left: 0;
    right: unset;
  }
  
  .about-big-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .about-big-text .line1 {
    font-size: 3rem;
  }
  
  .about-big-text .line2 {
    font-size: 2rem;
  }
  
  .about-big-text .line3 {
    font-size: 2.5rem;
  }
  
  .long-text {
    color: white;
    width: 55%;
    line-height: 25px;
  }
  
  .inverted .squares-container {
    order: 2;
  }
  
  .text-center {
    flex-direction: column;
    justify-content: center;
  }
  
  .centered-text {
    text-align: center;
    line-height: 30px;
    color: white;
    border: 1px solid white;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    padding: 100px;
  }

  .title{
    font-size: 80px;
    padding-bottom: 50px;
  }

  .subtitle{
    font-size: 40px;
    padding-bottom: 30px;
  }

