.container {
    display: flex;
    background-color: black;
    color: white;
    margin: 0;
    height: 100%; 
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 50px;

}

.images-container {
    display: flex;
}

.images-container img {
    margin-right: 30px; /* Adjust this value to your needs */
}

.images-container img:last-child {
    margin-right: 0;
}

.big-text {
    font-size: 80px;
    display: flex;
    padding-top: 50px;
}

.two-texts-row {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-right: 150px;
    text-align: left;
}

.opacity-texts-row {
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-right: 150px;
text-align: left;
}

.opacity-text {
    opacity: 0.5;
}

.text-field-container input {
    width: 500px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 70px; 
    color: white;
    outline: none;
}


.text-field-container input:last-child {
    margin-bottom: 0;
}

.send-button {
    width: 120px;
    height: 42px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-self: flex-end;
    background-color: grey;
    color: white;
}