.team {
    position: relative;
    padding-bottom: 70px;
    height: 110vh; 
    justify-content: center;
}

.t-background-img {
    height: 100vh;
    flex: 1;
    background-repeat: no-repeat;
  }

.t-page1{
    background-repeat: no-repeat;
    background-position: 170% 100px;
    padding-left: 15%;
}

.t-page2{
    background-repeat: no-repeat;
    background-position: 100px 0px;
}
  
  .t-text-content1 {
    position: absolute;
    justify-content: center;
    color: white;
    flex: 1;
    width: 80%;
    max-width: 1200px;
    z-Index: 2;
    user-select: none;
  }

  .t-text-content2 {
    position: absolute;
    justify-content: center;
    right: 0;
    color: white;
    padding-bottom: 150px;
    flex: 1;
    width: 60%;
    max-width: 650px;
    z-Index: 2;
    user-select: none;
  }

  .t-title1 {
    font-size: 40px;
    font-weight: bold;
    opacity: 0.4;
    line-height: 1.0;
  }
  .t-subtitle1 {
    font-size: 50px;
    font-weight: bold;
    padding-left: 50px;
    line-height: 1.0;
  }
  .t-paragraph1 {
    font-size: 19px;
    line-height: 1.5;
  }

  .t-title2 {
    font-size: 50px;
    color: #FFD800;
  }
  .t-subtitle2 {
    font-size: 30px;
    color: #FFD800;
    opacity: 0.4;
  }
  
  .t-title3 {
    font-size: 50px;
    color:#FF084B;
  }
  .t-subtitle3 {
    font-size: 30px;
    color:#FF084B;
    opacity: 0.4;
  }
  
  .t-title4 {
    font-size: 50px;
    color:#40FFE9;
  }
  .t-subtitle4 {
    font-size: 30px;
    color:#40FFE9;
    opacity: 0.4;
  }

  .t-title5 {
    font-size: 50px;
    color:#4073FF;
  }

  .t-subtitle5 {
    font-size: 30px;
    color:#4073FF;
    opacity: 0.4;
  }

  .t-paragraph2 {
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .t-page-indicators {
    color: white;
    position: absolute;
    bottom: 15%;
    right: 120px;
    z-index: 5;
  }
  
  .t-indicator {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.2;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .t-indicator.active {
    width: 30px;
    height: 30px;
    border-radius: 0; /* Square */
    opacity: 1.0;
    background-color: white;
  }
  
  @media screen and (max-width: 1023px) {
    .team {
      height: auto;
      padding-bottom: 40px;
    }

    .t-page2{
      background-repeat: no-repeat;
      background-position: 50px 50px;
    }

    .t-page1,
    .t-page2 {
      background-position: -10dvh 5dvh;
      background-size: contain;
      height: auto;
    }

    .t-page1 {
      padding-left: 5vw;
      padding-right: 15vw;
      background-position: 15vw 0px
    }
  
    .t-text-content1,
    .t-text-content2 {
      position: relative;
      width: 100%;
      max-width: none;
      text-align: center;
    }
  
    .t-subtitle1 {
      padding-left: 0;
    }
  
    .t-title2,
    .t-title3,
    .t-title4,
    .t-title5 {
      font-size: 50px;
    }
  
    .t-subtitle2,
    .t-subtitle3,
    .t-subtitle4,
    .t-subtitle5 {
      font-size: 40px;
    }
  
    .t-paragraph1,
    .t-paragraph2 {
      font-size: 16px;
    }

    .t-paragraph1 {
      max-height: 260px;
      overflow-y: auto; 
    }

    .t-page-indicators {
      color: white;
      position: absolute;
      top: 120px;
      right: 50px;
      z-index: 5;
    }

    .t-indicator {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ccc;
      opacity: 0.2;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .t-indicator.active {
      width: 25px;
      height: 25px;
      border-radius: 0; /* Square */
      opacity: 1.0;
      background-color: white;
    }

  .t-text-content2 {
    position: absolute;
    justify-content: center;
    margin-right: auto;
    color: white;
    flex: 1;
    width: 60vw;
    top: 5dvh;
    left: 10%;
    right: 30%;
    max-width: 650px;
    z-Index: 2,
  }
  }