.team {
    position: relative;
    padding-top: 10px;
    padding-bottom: 70px;
    height: 110vh; 
    justify-content: center;
}

.t-background-img {
    height: 100vh;
    flex: 1;
    background-repeat: no-repeat;
  }

.t-page1{
    background-repeat: no-repeat;
    background-position: 1000px 90px;
}

.t-page2{
    background-repeat: no-repeat;
    background-position: 1000px 90px;
}
  
  .t-text-content1 {
    position: absolute;
    justify-content: center;
    color: white;
    flex: 1;
    width: 80%;
    max-width: 1200px;
    z-Index: 2;
  }

  .t-text-content2 {
    position: absolute;
    justify-content: center;
    right: 0;
    color: white;
    flex: 1;
    width: 60%;
    max-width: 650px;
    z-Index: 2,
  }

  .t-title1 {
    font-size: 40px;
    opacity: 0.4;
  }
  .t-subtitle1 {
    font-size: 50px;
    padding-left: 50px;
  }
  .t-paragraph1 {
    font-size: 18px;
    line-height: 1.5;
  }

  .t-title2 {
    font-size: 50px;
    color: #FFD800;
  }
  .t-subtitle2 {
    font-size: 30px;
    color: #FFD800;
    opacity: 0.4;
  }
  
  .t-title3 {
    font-size: 50px;
    color:#FF084B;
  }
  .t-subtitle3 {
    font-size: 30px;
    color:#FF084B;
    opacity: 0.4;
  }
  
  .t-title4 {
    font-size: 50px;
    color:#40FFE9;
  }
  .t-subtitle4 {
    font-size: 30px;
    color:#40FFE9;
    opacity: 0.4;
  }

  .t-title5 {
    font-size: 50px;
    color:#4073FF;
  }
  .t-subtitle5 {
    font-size: 30px;
    color:#4073FF;
    opacity: 0.4;
  }


  .t-paragraph2 {
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .t-page-indicators {
    color: white;
    position: absolute;
    bottom: 90px;
    right: 120px;
    z-index: 5;
  }
  
  .t-indicator {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .t-indicator.active {
    width: 30px;
    height: 30px;
    border-radius: 0; /* Square */
    background-color: white;
  }
  
  

/* 
.team-left {
    color: white;
    flex: 1;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.first-para {
    padding-top: 30px;
    padding-bottom: 20px;
}
.second-para {
    padding-bottom: 20px;
}

.team-right {
    height: 80vh;
    border-radius: 10px;
    flex: 1;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.para-texts{
    color: white;
    padding-top: 30px;
    text-align: center;
}

.team-tabs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transform: scale(0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
}

.circle.selected {
    opacity: 1;
    transform: scale(1);
}

.team-footer {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 70px;
}

.team-footer-text{
    padding-top: 5px;
    font-size: 30px;
}

.team-square {
    width: 40px;
    height: 40px;
} */