.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    position: sticky;
    top: 0;
    z-index: 40;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Default tab styles (unselected) */
.navbar-links a {
    color: inherit;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 0.3s, color 0.3s; /* Added color to the transition */
}

/* Styles for the selected tab */
.navbar-links a.selected {
    color: white; 
    opacity: 1;
    border-bottom: 2px solid white;
}

/* Hover effect for the unselected tabs */
.navbar-links a:hover {
    opacity: 0.75;
}

.navbar-links_logo{
    margin-right: 1rem;
}

.navbar-links_logo img{
top: 70px;
left: 70px;
width: 41px;
height: 76px;
opacity: 1;
}

.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 159px;
    left: 67px;
    width: 48px;
    height: 14px;
    color: white;
    text-align: center;
    opacity: 0.5;
}

.navbar-links_container{
    display: flex;
    flex-direction: row;
}

.navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-login button{
    width: 120px;
    min-height: 38px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 5px 0px 0px 5px;
    border-color: white;
    color: white;
    border: 1px solid #FFFFFF;
}

select {
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    width: 100px;
}

.flag {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 50%; 
    background-size: cover;
}

.navbar-login p{
    padding-left: 30px;
}

.english {
    background-image: url('../../assets/england.png');
}

.japanese {
    background-image: url('../../assets/england.png');
}

.korean {
    background-image: url('../../assets/england.png');
}

.navbar-links_container p,
.navbar-login p,
.navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu svg{
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,2);
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-login{
    display: none;
}


@media screen  and (max-width: 1050px) {
.navbar-links_container {
    display: none;
}

.navbar-menu{
    display: flex;
    }  
}

@media screen  and (max-width: 700px) {
    .navbar{
        padding: 2rem 4rem;
    }   
}

@media screen  and (max-width: 550px) {
    .navbar{
        padding: 2rem;
    }   
    .navbar-login {
        display: none;
    }

    .navbar-menu_container {
        top: 20px;
    }

    .navbar-menu_container-links-login{
        display: block;
    }

    .navbar-links_logo img{      
        /* width: 10%; */
        opacity: 1;
    }
}

