.blog-page {
  display: flex;
  flex-direction: column;
}

.category-dropdown {
  position: absolute;
  z-index: 300;
  padding-top: 150px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 500px;
  width: 100%; 
  z-index: 1;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, black);
  pointer-events: none;
}

.page-header p {
  font-size: 70px;
  color: white;
  z-index: 2;
}

.page-header .blog-header {
  font-size: 90px;
  color: white;
  z-index: 2; 
}

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    gap: 1rem;
  }
  
  .posts {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    padding: 2rem;
    margin-top: -90px; /* Overlap amount */
    z-index: 2;
    position: relative;
    width: max-content; 
    margin: 120px auto 0 auto;
    column-gap: 70px;
}
  
  .post {
    width: 250px; 
    height: 450px; 
    border-radius: 15px;
    overflow: hidden;
    margin: 40px;
    cursor: pointer;
    position: relative;
  }
  
  .post-image {
    height: 60%;
    position: relative;
  }
  
  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .post-image .overlay-top-left {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    ;
  }
  
  .post-image .overlay-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
  }

  .pagination {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
  }
  
  .pagination p {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .pagination p.active {
    color: black;
    background-color: white;
  }

  .pagination-arrow {
    font-size: 16px;
    color: #555;
  }
  
  
  h2 {
    font-size: 1.5rem;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .modal-content {
    color: white;
    background: black; 
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    height: 80vh; 
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */
    }

  .modal-bottom {
    color: white;
  }

  .blog-post-detail {
    width: 100%;
    padding: 150px;
  }

  .modal-header {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  
  .modal-header-image {
    width: 100%;
    object-fit: cover;
  }
  
  .overlay-top-left,
  .overlay-top-right {
    position: absolute;
    display: flex;
    gap: 5px;
  }
  
  .overlay-top-left {
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    flex-direction: column;
  }

  .overlay-top-left2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .overlay-top-right {
    display: flex;
    color: white;
    top: 15px;
    right: 15px;
    gap: 15px;
  }
  
  .overlay-top-right > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .blog-icon-1 img{
    width: 20px;
  }
  .blog-icon-2 img{
    z-index: 30;
    width: 20px;
  }
  
  .overlay-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
  }
  
  .modal-body {
    background-color: rgb(26,26,26);
    color: white;
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
  }
  
  .modal-body h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-body p {
    font-size: 15px;
    line-height: 1.5;
  }
  
  .modal-body button {
    margin-top: 20px;
  }
  
  .close-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  /* Styles for the Share Popup */
.share-popup {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 450px;
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  box-sizing: border-box;
}

.sns-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row1 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.button-row2 {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button-share + .button-share {
  margin-left: 10px;
}

.button-share{
  margin-top: 0px;
  margin-bottom: 0px;
}

.fb-share, .copy-link-button {
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
}

.copy-link {
  width: 40px;
  height: 40px;
}

.popup-header {
  display: flex;
  justify-content: top;
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
}

.share-popup button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
