.firecopy {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* To ensure anything moving outside the bounds is not visible */
  }
  
  .f-video-container {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 0; /*video is above the hexagon */
  }
  
  .f-video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgba(255, 0, 0, 0.3);
    mix-blend-mode: multiply;
    pointer-events: none;
  }
  
  .f-text-container {
    position: absolute;
    border: 1px solid white;
    padding: 20px;
    color: white;
    right: 100px;
    width: 600px;
    height: 600px;
    opacity: 0;
  }
  
  /* New animations */
  
  @keyframes slideToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .f-video-container.moving {
    animation: slideToLeft 2s forwards; 
  }
  
  .f-text-container.appearing {
    animation: fadeIn 2s forwards; 
  }
  
  .bottom-text {
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out; /* Fade in transition */
  }

  .fading {
    animation: fadeOut 1s forwards; /* Apply fade-out animation */
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .tilted {
    transform: rotate3d(1, 0, 0, 70deg);
    transform-origin: center;
    transition: transform 2s ease-in-out;
    opacity: 0.5;
}
  
  .svg-container {
    justify-self: center;
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out; /* Fade in transition */
    position: absolute;
    right: 100px; /* Adjust based on your layout needs */
    transform-style: preserve-3d; /* Allow 3D transformations */
    margin: 0; 
    padding: 0;  
    z-index: 1;
  }

  svg {
    width: 420px; 
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-style: preserve-3d;  /* Ensures children obey the 3D rotation */
    overflow: visible;
  }
  
  .hidden {
    display: none;
  }
  
  /* Animation for sliding video to the right */
.f-video-container.slide-right {
    animation: slideToRight 3s forwards;
  }
  
  @keyframes slideToRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(35%); 
    }
  }

  .slide-bottom {
    animation: slideBottom 1s forwards;
  }
  
  @keyframes slideBottom {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(30%); /* Slide to the bottom */
    }
  }

  .text-left {
    color: white;
    opacity: 0; /* Start fully transparent */
    transition: opacity 1s ease-in-out; /* Delayed fade effect */
    top: 0;
    left: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    z-index: 2;
    justify-content: center;
  }

  .main-progress-wrapper {
    display: flex;
    align-items: center;
  }
  
  .main-progress-container {
    width: 300px;
    height: 15px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .main-progress-fill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .main-progress-percentage {
    margin-left: 10px; /* Adjusts space between the progress bar and the text */
  }

  .arrow {
    color: white;
    position: relative;
    font-size: 24px; /* Adjust size as needed */
    transition: opacity 1s ease-in-out;
    top: 100px;
  }
  
  .left-arrow {
    background-color: transparent;
    right: 320px; /* Distance from the left side of the SVG */
  }
  
  .right-arrow {
    background-color: transparent;
    left: 60px; /* Distance from the right side of the SVG */
  }

  .legend-container {
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.legend-container.secondary-active .score-list li,
.legend-container.secondary-active .progress-container {
    opacity: 1.0;
}

  .score-list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.score-list li {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin-bottom: 10px;
}

.score-list li.active {
    opacity: 1;
}

.progress-container {
    width: 150px;
    flex-grow: 1;
    height: 12px;
    background-color: #1a1a1a;
    margin-right: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.7;
}

li.active .progress-container {
  opacity: 1;
}

.progress-fill {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s ease-in-out;
}

.color-0 {
    background-color: rgb(0, 255, 0);
}

.color-1 {
    background-color: rgb(0, 0, 255);
}

.color-2 {
    background-color: rgb(0, 255, 255);
}

.color-3 {
    background-color: rgb(255, 255, 0);
}

.color-4 {
    background-color: rgb(255, 0, 0);
}

.color-5 {
    background-color: rgb(255, 0, 255);
}