*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.longBackground {
    background-image: url('/public/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300vh;
    background-position: center -130px;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }