*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.longBackground {
    background-image: url('/public/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300vh;
    background-position: center -130px;
}

/* .snap-scroll-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
} */

.element {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}
.long-element {
  scroll-snap-align: start;
  height: 300vh;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }